<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Push</string>
			<key>Title</key>
			<string>通知设置</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>上传高清图片</string>
			<key>Key</key>
			<string>hd_photo</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>照片水印</string>
			<key>Key</key>
			<string>watermark</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>提示音</string>
			<key>Key</key>
			<string>mute</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>AccessoryType</key>
			<integer>1</integer>
			<key>DefaultValue</key>
			<string>Feedback</string>
			<key>Custom</key>
			<string></string>
			<key>Type</key>
			<string>PSButtonValueSpecifier</string>
			<key>Title</key>
			<string>意见反馈</string>
			<key>Key</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>关于</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSWhiteSpace</string>
			<key>Height</key>
			<string>100</string>
		</dict>
		<dict>
			<key>bg_highlighted</key>
			<string>con_btn_click_bg</string>
			<key>bg</key>
			<string>con_btn_bg</string>
			<key>Custom</key>
			<string>Custom</string>
			<key>Align</key>
			<integer>1</integer>
			<key>Type</key>
			<string>PSButtonValueSpecifier</string>
			<key>Title</key>
			<string>清除缓存</string>
			<key>Key</key>
			<string>clear_cache</string>
			<key>FontSize</key>
			<string>18</string>
			<key>FontColor</key>
			<string>#000000</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>bg_highlighted</key>
			<string>logout_btn_bg_highlighted</string>
			<key>bg</key>
			<string>logout_btn_bg</string>
			<key>Custom</key>
			<string>Custom</string>
			<key>Align</key>
			<integer>1</integer>
			<key>Type</key>
			<string>PSButtonValueSpecifier</string>
			<key>Title</key>
			<string>退出当前帐号</string>
			<key>Key</key>
			<string>logout</string>
			<key>FontSize</key>
			<string>18</string>
			<key>FontColor</key>
			<string>#ffffff</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
